<h1>Referee#score</h1>
<p>Find me in app/views/referee/score.html.erb</p>

<p>Your try: <%= @attempt %></p>

<!-- <p>You took <%= @time_taken %> seconds</p> -->

<p>Your score is <%= @result %></p>


